*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #333;
}
.content{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.circule{
    position: relative;
    display: flex;
}
.circule span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #FF9c00;
    margin: 0 4px;
    border-radius: 50px;
    box-shadow: 0 0 0 10px #ff9c0044,
    0 0 50px #FF9c00,
    0 0 100px #FF9c00;
    animation:  animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(-10vh) scale(0);
    }
    100%{
        transform: translateY(100vh) scale(1);
    }
}

.circule span:nth-child(even){
    background: #01d4b4;
    box-shadow: 0 0 0 10px #01d4b444,
    0 0 50px #01d4b4,
    0 0 100px #01d4b4;
}